# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Node
node_modules/
package-lock.json
npm-debug.log*

# Docker
**/Dockerfile
**/docker-compose.yml
*.dockerignore
**/Dockerfile.*
**/docker-compose.override.yml

# IDE
.idea/
*.sublime-workspace
*.sublime-project
.vscode/

# OS-specific
.DS_Store
Thumbs.db
